[submodule "chromanode"]
	path = chromanode
	url = https://github.com/chromaway/chromanode.git
	branch = develop
[submodule "src/bitcoin-abe"]
	path = src/bitcoin-abe
	url = https://github.com/jeorgen/bitcoin-abe.git
	branch = nsequence
